<section class="bg-light text-dart text-center p-5 m-5">
    <div class="m-3">
        <% if (locals.studentId != null) { %>
            <h2><%= studentId %> </h2>
        <% } %>
    </div>
    <form action="/" method="POST">
        <label for="studentId" class="form-label">Student ID</label>
        <input type="text" id="studentId" name="studentId" class="form-control">
        <button type="submit" class="btn btn-primary m-3">Find Test Room</button>
    </form>
    
</section>
